<div class="container">

         
     <div id="main-container" class="main-container">
         
          <!-- <div class="row item text-center">
             <div class="row mt-5">
               <ul class="red">
                <li> <a href="" target="_blank" rel="noopener noreferrer">
                     <fa-icon [icon]="faFacebookF" aria-hidden="true"></fa-icon>
                   </a></li>

                   <li><a href="" target="_blank" rel="noopener noreferrer">
                     <fa-icon [icon]="faInstagram" aria-hidden="true"></fa-icon>
                   </a></li>
        
                   <li><a href="" target="_blank" rel="noopener noreferrer">
                     <fa-icon [icon]="faTwitter" aria-hidden="true"></fa-icon>
                   </a></li>

                   <li><a href="" target="_blank" rel="noopener noreferrer">
                     <fa-icon [icon]="faWhatsapp" aria-hidden="true"></fa-icon>
                   </a></li>
                 </ul>  
             </div>-->
           
             

</div>



