.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background: #0e0b0b;
  width: 98%;
  height: 16vh;
}

a {
  text-decoration: none;
}
.navbar h1 {
  color: rgb(242, 239, 245);
  padding-left: 10%;
  font-size: 2.5rem;
}

.navbar ul {
  display: inline-flex;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.navbar li {
  padding: 1rem 1rem 0 0;
  font-size: 1.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(242, 239, 245);
}

.navbar input {
  border: 1px solid rgba(109, 59, 218, 0.3);
  height: 2.3rem;
}

.navbar span {
  position: absolute;
  color: rgb(248, 30, 30);
  font-size: 30px;
  top: -20px;
  right: -15px;
  z-index: 6;
}

.class-icon {
  position: relative;
  right: 20px;
  top: 13px;
  cursor: pointer;
}

.class-icon:focus {
  outline: none;
  border: none;
}

.class-icon i {
  color: whitesmoke;
  position: relative;
}

.login {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.titulo {
  cursor: none;
}

@media screen and (max-width: 506px) {
  header input {
    position: relative;
    left: 3rem;
  }
}


@media screen and (max-width: 588px) {
header nav ul {
  position: relative;
  left: 10%;
}
}

@media screen and (max-width: 935px) {
  header nav ul {
    position: relative;
    left: 10%;
    top: -1rem;
  }

  header input {
    position: relative;
    margin-right: 1.5rem;
  }
}