<header>
    <nav class="navbar navbar-light min-vw-100">
    <h1 class="m-2 titulo"><a routerLink="login">M</a>onteCarlo</h1>
    
    <div>
        <input type="text" class="text-center" autofocus placeholder="Buscar Producto" [(ngModel)]="searchTerm" (keyup)="search($event)"/>
    </div>
    
    <ul class="nav-item">
        <li><a routerLink="home">Inicio</a></li>
        <li><a routerLink="productos">Productos</a></li>
        <li><a routerLink="contacto">Contacto</a></li>

        <div class="class-icon">
            <a routerLink="cart" (click)="showModal()"><i class="bi bi-cart mx-5 fs-3" id="carritoContenedor"><span>{{cartItem}}</span></i></a> 
        </div>
    </ul>
</nav>
</header>
