<header>
    <nav class="navbar navbar-light min-vw-100">
    <h1 class="m-2">E-Comercial</h1>
    <div>
        <input type="text" placeholder="Buscar Producto"/>
        <button class="btn btn-secondary m-3">Buscar</button>
    </div>
    <ul class="nav-item">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="productos">Productos</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#"><i class="bi bi-cart mx-5 fs-4" id="carritoContenedor"><span>0</span></i></a></li>
        
        
    </ul>
</nav>
</header>
