
<hr>
<main class="container">
  <div class="gallery">
    <div class="card card-item" *ngFor="let producto of productos">
      <div class="card-body">
        <img class="card-img-top" src="{{ producto.img }}" />
        <h4 class="card-title mt-5 fs-3"><b>{{ producto.titulo }}</b></h4>
        <p class="card-text fs-4"><b>Precio:</b> {{ producto.precio }}</p>
        <p class="card-text fs-5">
          <b>{{ producto.descripcion }}</b>
        </p>
        <button onclick="agregarProducto()" class="btn btn-primary mt-5 animation">
          Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
</main>

