
.gallery {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 33rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin: 2rem 0 1rem;
    padding-bottom: 30px;
    position: relative;
    top: 14vh;
}


.card-item {
    box-shadow:5px 3px 10px 3px  rgba(0, 0, 0, 0.4);
    transition: .3s;
    border-radius: 20px;
}
.modal-contenedor {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.card-item:hover {
    transform: scale(1.04);
    transition: 0.6s all;
    box-shadow:5px 3px 15px 3px  rgba(0, 0, 0, 0.3);
}

.content {
    position: relative;
    display: flex;
    font-size: 1rem;
    top: -20px;
}

.content span {
    color: #0e0b0b;
    font-weight: 800;
    font-size: 1.4rem;
    margin-top: 15px;
    z-index: 1;
}

.sumar {
    background: #2188a1;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 35%;
    color: #fff;
    margin: 0 6px;
}

.Abrir {
    position: relative;
    top: 100px;
    color: #fff;
    text-decoration: none;
}

.animation:hover {
    box-shadow: 5px 5px 30px #0a4dc9;
    transition: all 0.2s ease;
}

.card-img-top {
    width: 100%;
    border-radius: 20px;
}

.btn-primary {
  margin: 0 10px;
}


@media screen and (max-width: 769px) {
 .gallery {
        gap: 1.5rem;
        grid-row-gap: 18rem;
        grid-auto-rows: 21rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        top: 10vh;
}

.btn-sm{
    position: relative;
    margin-top: 5vh;
}

.card {
  height: 65vh;
  margin-top: 2rem;

}

.content {
    align-items: center;
}
  

  
.sumar {
    margin: 45px 6px;
}

.qnt {
    position: relative;
    margin-top: 15px 0;
}
}