
<hr>
<main class="container">
  <div class="gallery">
    <div class="card card-item" *ngFor="let producto of productos | filter:searchKey:'titulo'">
      <div class="card-body">
        <img class="card-img-top" src="{{ producto.img }}" />
        <h4 class="card-title mt-5 fs-3"><b>{{ producto.titulo }}</b></h4>
        <p class="card-text fs-4"><b>Precio:</b> {{ producto.precio }}</p>
        <p class="card-text fs-5">
          <b>{{ producto.descripcion }}</b>
        </p>
        
        <div class="content">
          <button type="button" class="button" (click)="aum(producto)"><i class="bi bi-plus-lg"></i></button>
             <span>{{producto.cantidad}}</span>
             <button type="button" class="button" (click)="dec(producto)"><i class="bi bi-dash-lg"></i></button>
             <button (click)="addCart(producto)" class="btn btn-primary mt-2 animation">
               Agregar al Carrito
             </button>
             <a><b>Editar</b></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xl">
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title fs-5">Carrito</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" id="vaciarCarrito" data-bs-dismiss="modal">Vaciar Carrito</button>
              <button type="button" class="btn btn-primary" id="procesarCompra">Continuar Compra</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

              <span><b>Precio Total: Ars$</b></span>
              <p class="text-center" id="precioTotal"><b></b></p>
            </div>
          </div>
        </div>
      </div>
      
  </div>
</main>

