<hr>
    <h1 class="text-center"><b>Página Principal</b></h1>

  <div class="container-xl">
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title fs-5">Carrito</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" id="vaciarCarrito" data-bs-dismiss="modal">Vaciar Carrito</button>
              <button type="button" class="btn btn-primary" id="procesarCompra">Continuar Compra</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

              <span><b>Precio Total: Ars$</b></span>
              <p class="text-center" id="precioTotal"><b></b></p>
            </div>
          </div>
        </div>
      </div>
      
      
  </div>
  

